{% extends 'base.html.twig' %}

{% block title %}
Registration
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{ form_start(form, {'attr': {'id': 'registrationForm'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
