{% if book.availableCopies > 0 %}
    <a class="book-action" href="{{ path('reserve-book', {id: book.id}) }}">
        <button type="button" class="btn">RESERVE BOOK</button>
    </a>
{% else %}
    <a class="book-action">
        <button type="button" class="btn" disabled>RESERVE BOOK</button>
    </a>
{% endif %}
<a class="book-action" href="">
    <button type="button" class="btn">RATE BOOK</button>
</a>

<br><br>

{% if is_granted("ROLE_LIBRARIAN") %}
    <a class="book-action" href="">
        <button type="button" class="btn btn-warning">EDIT</button>
    </a>
    <a class="book-action" href="">
        <button type="button" class="btn btn-danger">REMOVE</button>
    </a>
    <br><br>
{% endif %}

<a class="book-action" href="{{ path('show-author', {id: book.author.id}) }}">
    <button type="button" class="btn">SEE AUTHOR PAGE</button>
</a>
