body {
  background-color: rgba(176, 224, 230, 0.5);
}

.content {
  margin: 2vh 5vw;
}

form {
  padding-top: 10px;
  text-align: center;
}

input[type=text], input[type=email], input[type=number], input[type=password] {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
  width: 50%;
}

input:focus {
  border: 3px solid yellow;
}

label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
  padding: 0;
}

label:after {
  content: ':';
}

textarea {
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

select {
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

button[type=submit] {
  width: 50%;
  background-color: gray;
  border: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 16px 32px;
  text-decoration: none;
  margin: 40px 2px 4px 2px;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a#logout button {
  width: 80%;
  margin: 0 10%;
}

.plus {
  font-weight: bold;
  color: lime;
  font-size: 1.2em;
  padding-right: 5px;
}

.dropdown-item {
  color: white;
}

#profileMenu {
  left: unset;
  right: 0;
  border: 1px solid deepskyblue;
}

#userCard {
  max-width: 35rem;
}

#userPhoto {
  float: left;
  margin-right: 25px;
}

#readerInfo {
  display: inline;
  clear: left;
  width: 25vw;
}

#userCard h6 {
  margin-bottom: 0;
}

.book-preview {
  height: 180px;
  position: relative;
}
.preview-cover {
  width: 70%;
  object-fit: contain;
  box-shadow: 3px 6px gray;
}

.preview-book-card {
  background-color: rgba(245, 245, 220,0.95);
  width: 350px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 71%;
}
.filters a {
  color: #343a40;
}
.filters ul {
  padding-left: 0;
}
.filters li {
  font-variant-caps: all-small-caps;
  padding: 0 5px;
  list-style: none;
  margin-bottom: 5px;
  &:hover {
    border: 2px deepskyblue;
    border-style: none solid;
    background-color: rgba(0, 191, 255, 0.1);
  }
}

hr {
  border: 1px solid rgba(0, 191, 255, 0.7);
  margin-top: 5px;
}
