{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        <h2>Newest books</h2>
        <hr>
        {% set new = newBooks|slice(0,5) %}
        <div class="row">
            {% for book in new %}
                {% include '_featured_book.html.twig' with {'book': book} %}
            {% endfor %}
        </div>

        <h2>Most popular books</h2>
        <hr>
        {% set popular = popularBooks|slice(0,5) %}
        <div class="row">
            {% for book in popular %}
                {% include '_featured_book.html.twig' with {'book': book} %}
            {% endfor %}
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
        <h2>Recent activity</h2>
        <hr>
        {% for activity in recentActivity %}
            {% include '_featured_activity.html.twig' with {'activity': activity} %}
        {% endfor %}
    </div>
{% endblock %}
