{% extends 'base.html.twig' %}

{% block title %}
    An Error Occurred
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10">
        <h1 class="text-danger">Error 404: Page not found.</h1>

        <p class="lead">
            The requested URL was not found on this server. Return to <a href="{{ path('index') }}">homepage</a>.
        </p>
    </div>
{% endblock %}
