<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ activity.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ activity.time|date('H:m d-m-Y') }}</h6>
        <p class="card-text">{{ activity.content }}</p>
        <a href="#" class="card-link">{{ activity.book.title }}</a>
    </div>
</div>
