{% extends 'base.html.twig' %}

{% block title %}
    Change password
{% endblock %}
{% block content %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        {{ form_start(form, {'attr': {'class': 'wide-form'}}) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.newPassword) }}
        <button type="submit">SUBMIT</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
