{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}
{% block content %}
    <h2>Notifications</h2>
    <hr>
    {% if app.user.notifications|length == 0 %}
        <h5>Nothing to display.</h5>
    {% else %}
        {% for notification in user.notifications %}
            {% include 'user/_notification.html.twig' with {'notification': notification } %}
        {% endfor %}
    {% endif %}
{% endblock %}
