{% extends 'catalog/index.html.twig' %}

{% block catalogTitle %}
    <a href="{{ path('catalog') }}"><span class="fa fa-angle-left"></span></a>
    <span class="float-right">
        <span class="filter-title">{{ genre.name }}</span>
        <small> books</small>
    </span>
{% endblock %}
